.section{
    width: 100%;
}
.banner{
    width: 100%;
    background-image:url(/assets/bacround-banner-img.png);
    background-repeat: no-repeat;
}
.banner__wrapper{
    width: 100%;
    height: 740px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.banner__card{
    width: 255px;
    height: 390px;
    display: flex;
    flex-direction: column;
    gap: 71px;
}
.banner__img{
    width: 255px;
    height: 193px;
}
.banner__img__item{
    width: 100%;
    height: 100%;
}
.banner__content{
    width: 255px;
    height: 134px;
}
.banner__content__title{
       font-family: Fraunces 9pt;
       font-size: 24px;
      font-weight: 900;
      line-height: 32px;
      text-align: center;
}
.banner__content__text{
font-family: Barlow;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: center;
color:#333D4B;
}
// @media only screen and (max-width:689px){
//     .banner__wrapper{
//         margin-top: 140px;
//         display: flex;
//         gap: 24px;
//         height: auto;
// }
// .banner__card{
//     height: auto;
//     display: flex;
//     flex-direction: row;


// }
// }

@media (max-width: 689px) {
    .banner__wrapper {
      margin-top: 140px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 24px;
      height: auto;
      .banner__card {
        width: 573px;
      //   height: auto;
        display: flex;
        flex-direction: column;
        gap: 36px;
        align-items: center;
      }
      .banner__img {
        width: 225px;
        height: 193px;
      }
      .banner__content {
        width: 240px;
      }
    }
  }
@media only screen and (max-width:751px){
    .banner__wrapper{
        height:auto;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .banner__card{
        width: 573px;
        height: auto;
        display: flex;
        flex-direction: row;
        gap: 36px;
        align-items: center;
    }
    .banner__img{
        width: 225px;
        height: 193px;
    }
    .banner__content{
        width: 240px;

    }
}